[monasca]
monasca_endpoint = http://<ip:port>
username = <monasca_user>
password = <password>
project_name = <monasca_project_name>
auth_url = http://<ip>:<port>/v3/
api_version = 2_0

# Flask configuration
[service]
host = <host_ip>
port = <port_number>
debug = True
retries = 30

[openstack]
user = <user>
password = <password>
project_id = <project_id>
user_domain = <user_domain>
key_pair = <path_to_private_key>